@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

:root {
  --main-color: #131240;
  --secondary-color: #415aa6;
  --accent-color: #131226;
  --main-text-color: #d9c771;
  --secondary-text-color: #4177a6;
  --subtitle-text-color: #0faebf;
  --accent-text-color: #f0f0f0;
}

.game {
  padding: 20px;
  height: 100vh;
  background: url(../img/bg.jpg) no-repeat center/cover fixed;
}

.game__title {
  padding: 10px;
  background: #00000090;
  color: var(--main-text-color);
  font-size: 2.2rem;
  text-align: center;
  text-shadow: 4px 4px 2px var(--subtitle-text-color);
  letter-spacing: 2px;
  border-radius: 20px;
}

.select-wizards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  margin-top: 30px;
  height: 87%;
  background: #031038a0;
  border: 4px solid #000;
  border-radius: 30px;
}

.select-wizards__title {
  color: var(--accent-text-color);
  text-align: center;
}

.select-wizards__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.select-wizards__card {
  position: relative;
  width: 280px;
  height: 230px;
  background: #131226d8;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.75s ease-in-out;
}

.select-wizards__card:hover {
  background: #110631a3;
  border: 2px solid var(--main-text-color);
  filter: drop-shadow(16px 16px 20px #110631d7);
}

.select-wizards__card--selected {
  background: #08011da3;
  border: 2px solid var(--main-text-color);
  transform: scale(1.075);
  filter: drop-shadow(16px 16px 20px #110631d7);
}

.select-wizards__input {
  display: none;
}

.select-wizards__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  color: var(--main-text-color);
  cursor: pointer;
}

.select-wizards__img-wizard {
  margin-top: 35px;
  width: 100px;
  height: 124px;
}

.select-wizards__container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3%;
  right: 3%;
  width: 40px;
  height: 45px;
  background: linear-gradient(180deg, var(--initial) 35%, var(--end) 100%);
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  box-shadow: inset 0px 0px 14px 5px #000;
}

.select-wizards__img-type {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 4px var(--main-text-color));
}

.select-wizards__button {
  padding: 10px 20px;
  background: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: 0.75s ease-in-out;
}

.select-wizards__button:hover {
  background: #13122690;
  color: var(--accent-text-color);
  border: 2px solid var(--accent-color);
  filter: invert(2px);
}

#lives {
  display: none;
}

#health-user-container,
#health-enemy-container {
  position: relative;
  width: 30%;
  background-color: #e0e0e0;
  border-radius: 10px;
}

#health-user-bar,
#health-enemy-bar {
  width: 100%;
  height: 30px;
  background-color: #5ca08e;
  border-radius: 10px;
  transition: width 0.4s ease;
}

#hearts-user,
#hearts-enemy {
  & img {
    width: 30px;
  }
}

#select-attack {
  & #lives-user,
  & #lives-enemy {
    & progress {
      display: none;
    }
  }

  & button {
    display: none;
  }
}

#reset {
  & #btn-reset {
    display: none;
  }
}
