@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

#lives {
  display: none;
}

#health-user-container,
#health-enemy-container {
  position: relative;
  width: 30%;
  background-color: #e0e0e0;
  border-radius: 10px;
}

#health-user-bar,
#health-enemy-bar {
  width: 100%;
  height: 30px;
  background-color: #5ca08e;
  border-radius: 10px;
  transition: width 0.4s ease;
}

#hearts-user,
#hearts-enemy {
  & img {
    width: 30px;
  }
}

#select-attack {
  & #lives-user,
  & #lives-enemy {
    & progress {
      display: none;
    }
  }

  & button {
    display: none;
  }
}

#reset {
  & #btn-reset {
    display: none;
  }
}
